* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;

  }
  
  body {
	font-family: "Allura";
	line-height: 1.6;
	background-color: #000000;
	color: #333;
  }
  p {
	font-family: "calibri";
  }
  header {
	background-color: #000000;
	color: white;
	
	padding: 0.5rm 0;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-style: solid;
	border-width: 0 0 0.1rem 0;
	border-color: #c0a345;
  }
  
  .navbar {
	font-size: 3rem;
	width:85%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	position: relative;
	z-index: 1500;
	
  }
  
  .logo {
	font-size: 4rem;
	font-weight: bold;
	color: #c0a345;
	margin: 0.1rem;
	padding:0.5rem;
	border-radius:5px;
  }
  .logo:hover{
	box-shadow: 0 0 15px  #c0a345;
	transition: box-shadow 0.5s ease;
  }
  
  .nav-links {
	list-style: none;
	display: flex;
	gap: 1em;
  }
  
  .nav-links a {
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  .nav-links li{
	padding: 0 10px 0 10px;

  }
  .nav-links li:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px #ffffff88, 0 0 20px #c0a34533;
	transition: transform 0.6s ease,box-shadow 0.6s ease;
	border-radius: 5px;
  }
  
  .section {
	padding: 5%;
	max-width: 80%;
  }
  
  .section.alt {
	background-color: #eaeaea;
  }
  section h1{
	font-size: 2em;
  }
  footer {
	text-align: center;
	padding: 2rem;
	background-color: #222;
	color: white;
  }

  .hero {
	background-color: #000000;
	padding-bottom: 4rem;
	
  }
  
  .hero-content {
	padding: 5%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 60%;
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap; /* for responsiveness */
	box-shadow: inset 0 0 20px #c0a34581;

  }

  .hero-content:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 15px #c0a34581;
	position:relative;
	z-index:1005;
  }
  
  .hero-text {
	flex: 1;
	min-width: 280px;
  }
  
  .hero-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #ffffff;
  }
  
  .hero-text p {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	color: #ffffff;
  }
  
  .hero-image {
	flex: 1;
	min-width: 280px;
	text-align: center;
  }
  
  .hero-image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .heroEvents {
	background-color: #000000;
	padding-bottom: 4rem;
	
  }
  .heroEvents h2{
	font-size: 3em;
  }
  .heroEvents-content {
	padding: 5%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*flex-direction: row;
	align-items: center;
	justify-content: space-between;*/
	max-width: 60%;
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap; /* for responsiveness */
	box-shadow: inset 0 0 20px #c0a34581;

  }

  .heroEvents-content:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 15px #c0a34581;
	position:relative;
	z-index:1005;
  }
  
  .heroEvents-text {
	flex: 1;
	min-width: 280px;
  }
  
  .heroEvents-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #ffffff;
  }
  
  .heroEvents-text p {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	color: #ffffff;
  }
  
  .heroEventsImage,.heroEvents-location{
	grid-column:2;
  }
  .heroEvents-location iframe{
	min-width: 500px;
	min-height:350px;
	width:100%;
	height:100%;
	object-fit: cover;
  }
  .heroEventsImage img{
	min-width: 300px;
	min-height:300px;
	max-width:100%;
	height:100%;
	object-fit: cover;
  }
  .btn {
	display: inline-flex;
	align-items:center;
	vertical-align: middle;
	background-color: #c0a345;
	color: rgb(0, 0, 0);
	padding: 0.50rem 1rem;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.5em;
	transition: background-color 0.3s ease;
	max-width: 250px;
	max-height: 50px;
  }
  
  .btn:hover {
	background-color: #ffffff;
	transition: transform 0.2s ease;
  }

  .section {
	padding: 4%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	max-width: 60%;
	margin: auto;
	gap: 2rem;
	}

  .section:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 20px #c0a34581;
	position:relative;
	z-index: 1100
  }
  .section h2{
	font-size: 3rem;
	color:#ffffff;
	
  }
  .section p{
	font-size: 1.5rem;
  }
  
  #section3{
	visibility: hidden;
  }



/*author specific styles*/

.heroAuthor-image {
  flex: 1;
  min-width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns everything inside to the right */
  gap: 1rem;
}

.heroAuthor-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.btn-author {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-author img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*where to buy styles*/
.hero-content-wtb {
	padding: 5%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	max-width: 60%;
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap; /* for responsiveness */
	box-shadow: inset 0 0 20px #c0a34581;

}

.hero-content-wtb h1{
	font-size:2em;
}
.hero-content-wtb:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 15px #c0a34581;
	position:relative;
	z-index:1005;
}

.flex-row{
	display: flex;
	align-items: center;
	gap: 1.5em;
}
.flex-row h2{
	font-family: "Calibri";
	font-style: italic;
}
.btn-wtb {
	background-color: white;
	color: rgb(0, 0, 0);
	padding: 0.50rem 1rem;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

  
.btn-wtb:hover {
	background-color: silver;
	transition: transform 0.2s ease;
}

#amazonLink img{
  width: 3em;
  height: 40px;
  border-radius: 0.2em;
  
  
}

#librosCCLink img{
  width: 10em;
  height: 40px; 
  border-radius: 0.2em;

}

#ECILink img{
  width: 8em;
  height: 40px; 
  border-radius: 0.2em;
}

#casaDelLibroLink img{
  width: 10em;
  height: 40px; 
  border-radius: 0.2em;
}


/*Viewport for reduced size webpages*/
@media (max-width: 768px) {
.navbar {
	font-size: 1.5rem;
	width:80%;
	max-width: 1200px;
	margin: 1% 5% 0 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	position: relative;
	z-index: 1500;
	
  }
  
  .logo {
	font-size: 2rem;
	font-weight: bold;
	color: #c0a345;
	margin: 0.1rem;
	padding:0.5rem;
	border-radius:5px;
  }
 
  .nav-links {
	list-style: none;
	display: flex;
	gap: 1em;
  }
  .nav-links li{
	padding: 0 10px 0 10px;

  }
  .nav-links li:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px #ffffff88, 0 0 20px #c0a34533;
	transition: transform 0.6s ease,box-shadow 0.6s ease;
	border-radius: 5px;
  }


   /*Hero Mobile */

	.hero {
		background-color: #000000;
		padding-bottom: 4rem;
		
	}
	
	.hero-content {
		padding: 3%;
		background-color: #000000;
		border-radius: 5px;
		border-style: solid;
		border-color: #c0a345;
		border-width: 1px;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		max-width: 90%;
		margin: auto;
		gap: 2rem;
		flex-wrap: wrap; /* for responsiveness */
		box-shadow: inset 0 0 20px #c0a34581;

	}

	.hero-content:hover{
		transform: scale(1.05);
		transition: transform 0.6s ease;
		box-shadow: inset 0 0 15px #c0a34581;
		position:relative;
		z-index:1005;
	}
	
	.hero-text {
		flex: 1;
		min-width: 280px;
	}
	
	.hero-text h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		color: #ffffff;
	}
	
	.hero-text p {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
		color: #ffffff;
	}
	
	.hero-image {
		flex: 1;
		min-width: 280px;
		text-align: center;
	}
	
	.hero-image img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
		box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	}


   /*Hero Events*/

  .heroEvents {
	background-color: #000000;
	padding-bottom: 4rem;
	
  }

  .heroEvents h2{
	font-size: 2em;
  }

  .heroEvents-content {
	padding: 5%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 90%;
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap; /* for responsiveness */
	box-shadow: inset 0 0 20px #c0a34581;

  }

  .heroEvents-content:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 15px #c0a34581;
	position:relative;
	z-index:1005;
  }
  
  .heroEvents-text {
	flex: 1;
	min-width: 280px;
  }
  
  .heroEvents-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #ffffff;
  }
  
  .heroEvents-text p {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	color: #ffffff;
  }
  
  .heroEvents-location iframe{
	min-width: 200px;
	min-height:100px;
	width:100%;
	height:100%;
	object-fit: cover;
  }


 /*sections*/
 .section {
	padding: 4%;
	background-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border-color: #c0a345;
	border-width: 1px;
	max-width: 90%;
	margin: auto;
	gap: 2rem;
	}

  .section:hover{
	transform: scale(1.05);
  	transition: transform 0.6s ease;
	box-shadow: inset 0 0 20px #c0a34581;
	position:relative;
	z-index: 1100
  }
  .section h2{
	font-size: 2.5rem;
	color:#ffffff;
	
  }
  .section p{
	font-size: 1.2rem;
  }
  
  #section3{
	visibility: hidden;
  }

 /*Where to buy hero viewport*/
	.hero-content-wtb {
		padding: 4%;
		background-color: #000000;
		border-radius: 5px;
		border-style: solid;
		border-color: #c0a345;
		border-width: 1px;
		max-width: 90%;
		margin: auto;
		gap: 2rem;
		flex-wrap: wrap; /* for responsiveness */
		box-shadow: inset 0 0 20px #c0a34581;

	}

	.hero-content-wtb h1{
		font-size:2em;
	}
	.hero-content-wtb:hover{
		transform: scale(1.05);
		transition: transform 0.6s ease;
		box-shadow: inset 0 0 15px #c0a34581;
		position:relative;
		z-index:1005;
	}
	.flex-row{
		display: flex;
		align-items: center;
		gap: 1.5em;
	}
	.flex-row h2{
		font-family: "Calibri";
		font-style: italic;
		font-size: 1.3em;
	}

}